DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=your-secret-key
DEBUG=True

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

EMAIL_HOST_USER=email-id
EMAIL_HOST_PASSWORD=app-password

CONNECTED_MAILBOX=email-id
WAREHOUSE_EMAIL=email-id

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_PASSWORD=app-paaword(connected_mailbox)

GOOGLE_API_KEY=api-key